.particle {
    position: absolute;
    z-index: 1000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.physics-body-rect {
    position: absolute;
    z-index: 1000;
    border: 1px solid red;
}